<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link th:href="@{../style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body><div class="display">

    <ul th:each="author : ${authors}">
        <li class="aright" th:text="${author}" th:value="${author}"></li>
        <a class="aleft" th:href="'/author/' + ${author.id}">KSIĄŻKI</a><br><br><br>
    </ul>
    <br><br><a href="/">Strona główna</a></div></body>
</html>