<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Utworzono książkę</title>
    <link th:href="@{../style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body><div class="display">
    <h1>wprowadzono książkę</h1></div>

<br><br><a href="/">Strona główna</a></div></body>
</body>
</html>