<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie</title>
    <link th:href="@{../style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<div class="display">
<h2>Dodaj książkę</h2>
<form method="post" action="create">
    <input type="text" name="title"/>
    <select id="author" name="author">
        <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author}">Author</option>
    </select>
    <input type="submit">
</form><br><br><a href="/">Strona główna</a>
</div>
</body>
</html>