<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
    <link th:href="@{../style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<div class="display">
    <h1><a href="/" class="hlinks">BIBLIOTEKA</a></h1><br>
    <p th:text="${addedauthor}"/>
    <a href="add">Dodaj książkę</a><br><br>
    <a href="addauthor">Dodaj autora</a><br><br>
    <a href="author">Spis autorów</a><br><br>
</div>
</body>
</html>